@import url("./theme.css");
@import url("./icon.css");
@import url("./fonts.css");

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
	font-family: "JetBrains Mono";
	font-size: 14pt;
}

#app {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 19px 18px 14px 18px;
	box-sizing: border-box;
}